<div class="container">
  <div class="infos">
    <div class="" style="border:1px solid;margin-top: 100px;padding: 30px">
      <h1>MANGOPAY</h1>
      <span><%= @date %></span>
      <div class="d-flex justify-content-between">
        <div class="">
          <span>Amount: <%= @amount %> <%= @currency %></span>
          <span>Fees: <%= @fees %> <%= @currency %></span>
        </div>
        <div class="" style="border:1px solid black; padding: 20px;">
          <div class=""><span>Reference: <%= @ref %></span></div>
          <div class=""><span>IBAN: <%= @iban %></span></div>
          <div class=""><span>BIC: <%= @bic %></span></div>
        </div>
      </div>
      <h5>TOTAL: <%= @amount + @fees %> <%= @currency %></h5>
      <%= link_to 'Download', billing_path(
        contribution_id: @contribution.id,
        amount: @amount,
        fees: @fees,
        ref: @ref,
        bic: @bic,
        iban: @iban,
        currency: @currency,
        content: params[:content].permit!,
        format: :pdf,
      ), download: "" %>
    </div>
  </div>
</div>
