<!doctype html>
<meta charset='utf-8' />
  <h1 style="margin-top: 100px">MANGOPAY</h1>
  <span><%= @bill.date %></span>
  <div class="">
    <div class="" style="margin-bottom: 20px;">
      <hr>
      <span>Amount: <%= @bill.amount %> <%= @bill.currency %> €</span>
      <span>Fees: <%= @bill.fees %> <%= @bill.currency %></span>
    </div>
    <div class="" style="border:1px solid black; padding: 20px;">
      <div class=""><span>Reference: <%= @bill.ref %></span></div>
      <div class=""><span>IBAN: <%= @bill.iban %></span></div>
      <div class=""><span>BIC: <%= @bill.bic %></span></div>
    </div>
  </div>
  <h5>TOTAL: <%= @bill.amount + @bill.fees %> <%= @bill.currency %></h5>
</div>
</div>
