<%= link_to "Edit your profile", edit_user_registration_path %>
<p>Total contributed : <%= current_user.contributions.sum(:amount_in_cents).fdiv(100) %> </p>
 <p>Investi dans <%= current_user.projects.count %> projets et <%= current_user.counterparts.count %> contreparties</p>
<p>My projects :</p>

<table >
  <tr>
    <th>Project Name</th>
    <th>Invested</th>
  </tr>
  <% current_user.projects.each do |project| %>
    <tr>
      <td><%= link_to project.name, project_path(project) %></td>
      <td><%= project.contributions.where(project_id: project.id).sum(:amount_in_cents).fdiv(100)  %></td>
    </tr>
  <% end %>
</table>

<p>My contributions :</p>

<table >
  <tr>
    <th>Contribution amount</th>
    <th>Project</th>
    <th>Download</th>
  </tr>
  <% current_user.contributions.each do |contribution| %>
    <tr>
      <td><%= contribution.amount_in_cents.fdiv(100)%> €</td>
      <td><%= contribution.project.name %></td>
      <td><%= link_to 'Download contribution details', contribution_path(contribution, format: :pdf) %></td>
    </tr>
  <% end %>
</table>

<p>My counterparts :</p>

<table >
  <tr>
    <th>Counterpart name</th>
    <th>Project name</th>
    <th>Amount invested</th>
  </tr>
  <% current_user.counterparts.each do |counterpart| %>
    <tr>
      <td><%= counterpart.name%></td>
      <td><%= counterpart.project.name %></td>
      <td><%= counterpart.contributions.where(project_id: counterpart.project.id).sum(:amount_in_cents).fdiv(100)%> €</td>
    </tr>
  <% end %>
</table>
