<div class="d-flex justify-content-between" style="margin-top:30px">
  <div>
    <%= search_form_for @q do |f| %>
      <%= f.search_field :name_cont %>
      <%= f.submit  %>
    <% end %>
  </div>

  <div>
  <%= link_to 'Upcoming', projects_url(q: { aasm_state_eq: 'upcoming' }), class: "btn" %>
  <%= link_to 'Ongoing', projects_url(q: { aasm_state_eq: 'ongoing' }), class: "btn" %>
  <%= link_to 'Succeeded', projects_url(q: { aasm_state_eq: 'success' }), class: "btn" %>
  </div>
</div>
