<!DOCTYPE html>
<html>
  <head>
    <title>Crowdfunding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/flash_message" %>
    <% unless current_user %>
      <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
    <% else %>
      <%= current_user[:name] %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% end %>
    <div class="container mt-3">
      <%= yield %>
    </div>
  </body>
</html>



